*
{
    padding: 0;
    margin: 0;
}
h1
{
    font-size: 60px;
    font-family: Arial, sans-serif;
}
body
{
    background-color: bisque;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    opacity: 1;
}
.menu-bar
{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: black;
}
ol
{
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    text-align: center;  
    font-size: large;
}
b
{
    font-size: larger;
}
li
{
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
}
c
{
    font: outline;
    font-size: xx-large;
    text-align: center;
    color: darkred;
}
.column
{
    float: left;
    width: 33.33%;  
}
.row
{
    float: right;
}
.teamMembercenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.ourWorkcenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.cranberry_jam_bars
{
    display: block;
    margin-right: auto;
    width: 50%;
}
.choco_chip_zucchini_bread
{
    display: block;
    margin-right: auto;
    width: auto;  
}
.farmed
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
}
.contactpumpkin
{
    display: block;
    background: chocolate;
    width: 90%
}
/*-----------------------Submit button---------------*/
.submitcontact
{
    display: block;
    width: 10%;
    height: auto;
    background-color: cornflowerblue;
}
/*---------------------submit-----------------------*/
.messagetext
{
    height: 90%; 
}
.w3-myfont
{
    font-family: "Brush Script MT", cursive, sans-serif;
    font-size: 36pt;
    text-align: center;
    color: lightseagreen;
}
.index_title_center
{
    text-align: center;
}
.about_us_title_center
{
    text-align: center;
}
.contact_us_title_center
{
    text-align: center;
}
.our_work_title_center
{
    text-align: center;
}
.team_title_center
{
    text-align: center;
}
.login_title_center
{
    text-align: center;
}
.active
{
    background: none;
}
/*---------------Login Page----------------------*/
#main-holder
{
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}
#login-error-msg-holder
{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
#login-error-msg
{
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}
#error-msg-second-line
{
    display: block;
}
#login-form
{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}
.login-form-field
{
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
.login-form-field::placeholder
{
    color: #3a3a3a;
}
#login-form-submit
{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}
/*------------Login Page----------------*/